.content{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(181, 246, 255);
    padding: 100px;
    width: 100%;
    font-size: x-large;
}

#display{
    width: 100%;
}

#slider{
    width: 100%;
}

#length{
    display: inline-block;
    width: 100px;
}

.previous_passwords{
    margin-bottom: 20px;
}